@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

#root {
  position: relative;
  /* background-color: black; */
}

:root {
  --grey: rgb(25, 25, 25);
  --orange: rgba(212, 125, 79, 255);
  --whiteOrange: rgb(251, 175, 133);
  --whiteBlack: rgb(79, 79, 79);
  --earsh: rgb(241, 241, 241);
  --white: #ffffff;
  --black: #080404;
  --whitish: #c6c6c6;
  --whito: rgb(241, 241, 241);
  --maxWidth: 85%;
  --radius: 10px;
}

body {
  font-family: 'MANROPE', 'arial';
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

nav {
  background-color: var(--grey);
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-bottom: 0;
  transition: all ease-in-out 0.2s;
}

.navWrapper {
  width: var(--maxWidth);
  background-color: var(--grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 2.2rem;
  background-color: inherit;
  transition: all ease-in-out 0.2s;
  padding: 2rem 0 2.2rem 0;
}

.cartOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.445);
  top: 0;
  left: 0;
  margin: auto;
  z-index: 1000;
}

.cartWrapper {
  width: var(--maxWidth);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  padding: 8rem 0;
}

.navScrolled {
  padding: 1.25rem 0;
}

.press {
  cursor: pointer;
  position: relative;
}

.press > span:nth-child(1) {
  background-color: var(--orange);
  border-radius: 50%;
  width: 13px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
  font-weight: 600;
  position: absolute;
  right: -8px;
  top: -15px;
  font-size: 14px;
}

.navWrapper > picture:nth-child(1) {
  cursor: pointer;
}

.cats {
  display: flex;
  gap: 60px;
}

.cats a {
  font-family: 'MANROPE', 'arial';
  color: rgba(255, 255, 255, 0.85);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

.cats li {
  transition: all 0.3s ease 0s;
  background-image: linear-gradient(
    to right,
    rgb(216, 125, 74) 0%,
    rgb(216, 125, 74) 50%,
    rgb(255, 255, 255) 50%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100% center;
  outline: 0px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.here {
  background-image: none !important;
  -webkit-text-fill-color: unset !important;
  transition: none !important;
}

.here a {
  color: var(--orange) !important;
}

.cats li:hover {
  transition: all 0.3s ease 0s;
  background-position: 0% center;
}

.homeHeader {
  background-color: var(--grey);
  /* background-image: url('./assets/home/desktop/image-hero.jpg'); */
  background-image: url('./assets/icg/cinema-w4000i-cinematic-kv.jpg');
  /* height: 80vh; */
  /* background-position-x: 50%; */
  background-repeat: no-repeat;
  /* height: 90vh; */
  background-position: center;
  height: 100vh;
  background-position-x: 85%;
  background-size: cover;
}

.newProduct {
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 10px;
  font-size: 14px;
}

.wrapper {
  display: flex;
  max-width: var(--maxWidth);
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin: auto;
}

.heleft {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  /*! justify-content: flex-start; */
  align-items: flex-start;
}

.heleft > h1:nth-child(2) {
  color: var(--white);
  font-size: 3.5rem;
  line-height: 1.2;
}

.heleft > p:nth-child(3) {
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
  font-weight: 200;
  line-break: breaj;
  max-width: 90%;
  color: rgba(255, 255, 255, 0.75);
  font-size: 17px;
  font-weight: 400;
  line-break: breaj;
  max-width: 90%;
  line-height: 1.8;
  color: white;
}

.seePro {
  background-color: var(--orange);
  color: var(--white);
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
}

.seePro::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: var(--whiteOrange);
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

.seePro:hover::before {
  height: 100%;
}

main {
  /* max-width: var(--maxWidth); */
  margin: auto;
  margin-top: 10rem;
  gap: 50px;
  display: flex;
  flex-direction: column;
  /* TEMPORALY */
  /* padding-bottom: 15rem; */
  /* margin-bottom: 4rem; */
}

.mightKnow {
  display: flex;
  gap: 0 30px;
  margin: auto;
  justify-content: space-between;
  height: 12rem;
  width: 100%;
}

.mightKnow > a {
  background-color: var(--whito);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--whito);
  justify-content: flex-end;
  padding: 1rem 0rem;
  position: relative;
  width: 100%;
  cursor: pointer;
  border-radius: var(--radius);
  color: black;
}

.mightKnow > a > picture:nth-child(1) {
  position: relative;
  bottom: 70px;
  cursor: pointer;
  width: 220px;
  position: absolute;
  bottom: 39px;
}

.mightKnow > a > h5:nth-child(2) {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
}

.mightKnow > a > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 5px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--whitish);
  color: rgba(0, 0, 0, 0.363);
  width: 100%;
  margin-top: 3px;
  transition: color ease-in-out 0.3s;
}

.mightKnow > a > div:hover {
  color: var(--orange);
}

.stein {
  background-color: var(--orange);
  display: flex;
  /* background-image: url('./assets/home/desktop/pattern-circles.svg'); */
  /* background-image: url('./assets/icg/homepage-hero-banner-0911-03-1.webp'); */

  border-radius: var(--radius);
}

/* Inline #0 | http://127.0.0.1:5173/?index */

.stein {
  max-height: 60vh;
  padding: 7rem 6rem 0 6rem;
  gap: 0 2rem;
  max-height: 100vh;
  max-height: 70vh;
  background-color: black;
  flex-direction: column-reverse;
  padding: 0;
  max-height: 90vh;
  padding: 2rem 0 2rem 0;
  height: 90vh;
}

/* Element | http://127.0.0.1:5173/?index */

.stein > article:nth-child(2) > h1:nth-child(1) {
  color: white;
  font-size: 4rem;
  line-height: 1;
}

/* Element | http://127.0.0.1:5173/?index */

.stein > article:nth-child(2) > p:nth-child(2) {
  color: white;
  opacity: 0.8;
  font-weight: 200;
  font-size: 15px;
}

/* Element | http://127.0.0.1:5173/ */

.stein > article:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  padding: 8rem 0 0 0;
}

/* Inline #0 | http://127.0.0.1:5173/ */

.stein > article:nth-child(2) > p:nth-child(2) {
  /* opacity: 0.5; */
  opacity: 0.8;
}
.stein > article:nth-child(2) {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.stein > picture:nth-child(1) > img:nth-child(4) {
  height: 100%;
}
.stein > picture:nth-child(1) {
  height: 100%;
}
/* Element | http://127.0.0.1:5173/ */

.sawPro {
  color: white;
  background-color: black;
  width: fit-content;
  padding: 12px 20px;
  font-size: 15px;
  font-weight: 500;
  z-index: 1;
  position: relative;
}

.sawPro::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: var(--whiteBlack);
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

.sawPro:hover::before {
  height: 100%;
}
.custom {
  color: white;
  background-color: black;
}
.custom::before {
  background-color: var(--whiteBlack);
  background-color: white;
}
.custom:hover::before {
  height: 100%;
}
.custom:hover {
  color: black;
}
.z7x {
  width: 100%;
  border-radius: var(--radius);
  background-image: url('./assets/home/desktop/image-speaker-zx7.jpg');
  background-image: url('./assets/icg/K12-Education-Projectors_bg_prod-group_CTA-1400x570-2x.jpg');
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 4rem;
  gap: 30px 0;
  background-color: var(--earsh);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-color: white;
}

.z7x > h2:nth-child(1) {
  letter-spacing: 1px;
  font-size: 46px;
}

.z7x .sawPro {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  transition: all ease-in-out 0.5s;
}

.z7x .sawPro:hover {
  color: white;
}

.z7x .sawPro::before {
  background-color: var(--black);
}
section.z7x:nth-child(3) > p:nth-child(2) {
  color: black;
  max-inline-size: 50%;
  line-height: 1.55;
  font-size: 17px;
}
.yx1 {
  display: flex;
  flex-direction: row;
  gap: 0 20px;
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yx1 img {
  border-radius: var(--radius);
}

.yx1 .z7x {
  background-image: none;
  padding: 0rem 5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.z7x:nth-child(1) > p:nth-child(2) {
  text-align: center;
}
.bringing {
  display: grid;
  gap: 0 30px;
  color: white;
  height: 50vh;
  width: 100%;
  background-color: black;
  height: 80vh;
  padding-left: 10rem;
  padding-right: 10rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

.bringing > article {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px 0;
  text-align: center;
}

.bringing > article h1 {
  font-size: 45px;
  text-transform: uppercase;
  line-height: 1.1;
}

.bringing > article p {
  font-size: 20px;
  line-height: 1.6;
  color: white;
}

.bringing picture {
  place-self: end;
  height: 100%;
  width: 100%;
  grid-column: 1/-1;
  height: auto;
  width: auto;
}

.bringing img {
  border-radius: var(--radius);
  height: 100%;
  width: 100%;
}
.bringing * {
  color: white;
}
.best {
  color: var(--orange);
}

footer {
  height: 40vh;
  background-color: rgb(16, 16, 16);
  padding: 4rem;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  height: fit-content;
  height: auto;
  background-color: black;
}

.footerWrapper {
  max-width: var(--maxWidth);
  margin: auto;
  padding: 5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 0 2rem 0;
  height: 100%;
  gap: 0 65px;
}

.artPic {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  height: 100%;
  justify-content: space-between;
}

.copyRight {
  color: white;
  opacity: 0.6;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}

.audioSpecialist {
  font-size: 15px;
  font-weight: 200;
  line-height: 1.6;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}

.footerWrapper .cats {
  display: flex;
  gap: 30px;
  place-self: flex-end;
  align-self: baseline;
  text-transform: uppercase;
}

.footerWrapper .links {
  display: flex;
  gap: 0 25px;
  place-self: end;
  align-self: first baseline;
}

.footerWrapper .cats a {
  transition: all ease-in-out 0.2s;
}

.footerWrapper .cats a:hover {
  color: var(--orange);
}

.footerWrapper .cats a {
  font-size: 15px;
  font-size: 13px;
  padding: 5px;
}

.footerWrapper .links a * {
  transition: all ease-in-out 0.2s;
}

.footerWrapper .links a :hover * {
  fill: var(--orange);
}

.footerWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 30px;
}

.footerHero > img:nth-child(4) {
  grid-column: 1/2;
  grid-row: 1;
}

.footerHero {
  grid-column: 1/2;
  grid-row: 1;
  align-self: self-start;
}
.footerHero img {
  height: 150px;
  width: 150px;
}
.audioSpecialist {
  grid-column: 1/2;
}

ul.cats:nth-child(5) {
  grid-column: 2/3;
  grid-row: 1/2;
}

.links {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: end;
}

.copyRight {
  grid-column: 1/2;
}

.Lino {
  position: absolute;
  top: 0;
  height: 4px;
  color: var(--orange);
  background-color: var(--orange);
  width: 100px;
}

.headHeader {
  background-color: black;
  height: 37vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 2px solid white;
  align-items: end;
  padding-bottom: 6rem;
}

.headHeader h1 {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
}

.ProductCat {
  width: 100%;
  gap: 0 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: fit-content;
  height: auto;
}

.ProductCat article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px 0;
  align-items: flex-start;
  text-align: left;
}

.desc {
  text-transform: uppercase;
  letter-spacing: 10px;
  color: var(--orange);
  font-size: 14px;
}

.paraDetail {
  color: black;
  opacity: 0.7;
  line-height: 1.7;
  font-size: 15px;
  /* font-weight: 200; */
}

.details h1 {
  font-size: 40px;
}

.headMain {
  gap: 170px 0;
  /* max-width: var(--maxWidth); */
}

.goBack {
  text-align: left;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  font-size: 15px;
  position: relative;
  transition: all ease-in-out 0.2s;
  width: fit-content;
  opacity: 0.9;
  margin: 2rem 0 1rem 0;
}

.goBack::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--orange);
  bottom: -5px;
  left: 0;
  transition: all ease-in-out 0.2s;
}

.goBack:hover::before {
  /* height: 2px; */
  width: 100%;
}

/* Inline #-1 | http://127.0.0.1:5173/product_detail/xx99-mark-ii */

.goBack {
  width: fit-content;
  color: black;
  opacity: 0.8;
}

.spanPrice {
  font-weight: 700;
  font-size: 25px;
  align-self: flex-end;
}

.details > div:nth-child(5) {
  display: flex;
  gap: 0 20px;
}

.toCart {
  padding: 0.8rem 1.75rem;
}

.addMore {
  /* padding: 0.8rem 1.75rem; */
  background-color: var(--whito);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0 20px;
  /* font-weight: 600;x */
}

.addMore button {
  padding: 0.8rem 1rem;
  font-weight: 500;
  color: black;
  opacity: 0.4;
  font-size: 16px;
  transition: all ease-in-out 0.2s;
}

.addMore button:hover {
  color: var(--orange);
  opacity: 1;
}

/* Element | http://127.0.0.1:5173/product_detail/xx99-mark-ii */

.moreInfo {
  display: flex;
}

/* Element | http://127.0.0.1:5173/product_detail/xx99-mark-ii */

.moreInfo > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

/* Element | http://127.0.0.1:5173/product_detail/xx99-mark-ii */

.moreInfo > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

/* Element | http://127.0.0.1:5173/product_detail/xx99-mark-ii */

.moreInfo > div:nth-child(1) > h4:nth-child(1) {
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 28px;
}

/* Element | http://127.0.0.1:5173/product_detail/xx99-mark-ii */

.moreInfo > div:nth-child(2) > h4:nth-child(1) {
  margin-bottom: 1.5rem;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 28px;
}

/* Inline #0 | http://127.0.0.1:5173/product_detail/xx99-mark-ii */

.moreInfo {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}

.moreInfo > div:nth-child(2) {
  justify-self: end;
}

.moreInfo > div:nth-child(1) > p {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.75;
}

.moreInfo > div:nth-child(2) > ul:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

/* Element | http://127.0.0.1:5173/product_detail/xx99-mark-ii */

.moreInfo > div:nth-child(2) > ul:nth-child(2) > li {
  display: flex;
  gap: 0 30px;
}

.moreInfo > div:nth-child(2) > ul:nth-child(2) > li > span:nth-child(1) {
  color: var(--orange);
  font-weight: 600;
}

.moreInfo > div:nth-child(2) > ul:nth-child(2) > li > span {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}

.gallary {
  display: grid;
  grid-template-columns: repeat(2, fit-content);
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.gallary > picture:nth-child(3) {
  border-radius: var(--radius);
  grid-row: 1/-1;
  grid-column: 2/3;
}

.gallary img {
  border-radius: var(--radius);
  height: 100% !important;
}

/* Element | http://127.0.0.1:5173/product_detail/zx9 */

.mayAlos {
  display: grid;
  /* grid-template-rows: auto 1fr; */
  gap: 20px 40px;
  grid-template-columns: 1fr 1fr 1fr;
}

.mayAlos > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px 0;
}

.mayAlos > h2:nth-child(1) {
  grid-row: 1;
  grid-column: 2/3;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  padding-bottom: 10px;
}

.mayAlos > article:nth-child(2) {
  grid-row: 2/3;
}

.mayAlos > article:nth-child(3) {
  grid-row: 2/3;
}

.mayAlos > article:nth-child(4) {
  grid-row: 2/3;
}

.mayAlos > article > h3:nth-child(2) {
  font-size: 23px;
  letter-spacing: 1px;
}

.productPage {
  gap: 130px 0;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-bottom: 7rem;
}

.productPage .mightKnow {
  margin-top: 2rem;
}

.addMore {
  width: 145px;
}

/* CART*/

.carto {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: white;
  border-radius: var(--radius);
}

.carto > h4:nth-child(1) {
  grid-row: 1;
}

.carto > button:nth-child(2) {
  grid-row: 1;
  place-items: normal;
  justify-self: end;
  text-decoration: underline;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
}

.disPro {
  grid-column: 1/-1;
  grid-row: 2/3;
  gap: 15px 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.carto > h5:nth-child(4) {
  grid-row: 3/4;
  text-transform: uppercase;
  color: var(--whitish);
  font-weight: 300;
  font-size: 16px;
  color: #00000094;
  user-select: none;
}

.carto > span:nth-child(5) {
  grid-row: 3/4;
  justify-self: end;
  font-size: 700;
  font-weight: 700;
  font-size: 17px;
}

.carto button.seePro:nth-child(6) {
  grid-row: 4/5;
  grid-column: 1/-1;
}

.disPro > li {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  gap: 5px 15px;
}

.disPro > li > img:nth-child(1) {
  width: 60px;
  border-radius: var(--radius);
  grid-row: 1/-1;
  grid-column: 1/2;
}

.disPro > li > div:nth-child(4) {
  grid-row: 1/-1;
  grid-column: 3/4;
  width: auto;
  gap: 5px;
  height: fit-content;
  font-weight: 600;
}

.disPro > li > span:nth-child(2) {
  grid-row: 1/2;
  font-size: 15px;
  font-weight: 700;
}

.disPro > li > span:nth-child(3) {
  grid-row: 2/3;
  font-size: 15px;
  color: var(--whiteBlack);
}

.disPro > li > div:nth-child(4) > button:nth-child(1) {
  padding: 0.4rem 0.75rem;
}

.disPro > li > div:nth-child(4) > button:nth-child(2) {
  padding: 0.4rem 0.75rem;
}

.carto {
  padding: 2rem;
  width: 435px;
  grid-template-rows: auto 200px auto auto;
}

.doggy {
  cursor: none;
}

.noItems {
  text-transform: uppercase;
  background-color: black;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  margin: auto;
}

.noItems::before {
  content: none;
}

.checkoutMain {
  /* padding-bottom: 370px; */
  margin-top: 0;
  margin-bottom: 0;
}

.checkoutFooter {
  /* position: absolute; */
  /* bottom: 0; */
}

.fillForm input,
.select {
  outline: none;
  color: black;
  border-radius: 5px;
  border: 1px solid rgb(207, 207, 207);
  padding: 17px 80px 17px 10px;
  transition: all ease-in-out 0.3s;
  font-weight: 600;
  width: 100%;
  padding: 15px 0;
  padding-left: 10px;
}

.fillForm input:focus {
  border: 1px solid rgb(216, 125, 74);
  outline: none;
}

.fillForm input:active {
  outline: none;
}

.select {
  /* border: 1px solid rgb(207, 207, 207) ;
   */
  border: none !important;
  box-shadow: 0px 0px 0px 1px rgb(207, 207, 207);
  font-weight: 600;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0 15px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  height: 55px;
}

.select:hover {
  /* border: 1px solid #d87d4a !important; */
  box-shadow: 0px 0px 0px 2px #d87d4a !important;
}

.checkoutWrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(241, 241, 241, 255);
  padding-top: 7rem;
}

.fillForm {
  background-color: white;
  padding: 3rem;
  border-radius: var(--radius);
  grid-row: 2/3;
  grid-column: 1/4;
  grid-column: 1/2;
}

.checkoutWrapper .carto {
  background-color: white;
  grid-row: 2/3;
  grid-column: 4/5;
  grid-column: 2/3;
  width: fit-content;
}

.checkoutMain {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 2fr 1fr;
}

.checkoutWrapper .goBack {
  grid-row: 1;
  grid-column: 1/2;
}

.fillForm form {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
}

.fillForm form > h2 {
  text-transform: uppercase;
  font-size: 30px;
}

.billing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.fillForm form > div > p {
  color: rgb(216, 125, 74);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  grid-column: 1/-1;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.fillForm label {
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 600;
}

.fillForm form > div {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.shipping > div:nth-child(2) {
  grid-column: 1/-1;
}

.payment > div:nth-child(5) {
  grid-row: 4/5;
  grid-column: 1/2;
}

div.form-row:nth-child(6) {
  grid-column: 2/3;
  grid-row: 4/5;
}

div.select:nth-child(4) {
  grid-column: 2/3;
}

.middleCircle {
  width: 20px;
  height: 20px;
  border: 2px solid #d87d4a;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ciro {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d87d4a;
}

.two-rows {
  grid-column: 1/-1 !important;
  display: flex;
  align-items: center;
  gap: 0 35px;
  font-size: 15px;
  line-height: 1.75;
  color: #909090;
  margin: 1rem 0 4rem 0;
}

.reviseDetails {
  height: fit-content;
}

.reviseDetails .disPro {
  grid-row: 1/2;
}

.reviseDetails > span:nth-child(3) {
  justify-self: flex-end;
}

.reviseDetails > span {
  justify-self: flex-end;
  justify-self: end;
  font-weight: 700 !important;
  font-size: 15px !important;
}

.reviseDetails > h5 {
  text-transform: uppercase;
  color: var(--whitish);
  font-weight: 400;
  font-size: 15px;
  color: #00000094;
  user-select: none;
}

.reviseDetails .seePro {
  grid-column: 1/-1;
}

.carto > span:nth-child(9) {
  color: #d87d4a;
}

.form-row {
  position: relative;
}

.SpanMessage {
  position: absolute;
  margin: auto;
  right: 0;
  top: 0;
  color: rgb(205, 44, 44);
  font-size: 12px;
  height: fit-content;
}

.formDanger input {
  border: none;
  box-shadow: rgb(205, 44, 44) 0px 0px 0px 2px;
}

.formDanger input:focus {
  border: none;
}

.formDanger label {
  color: rgb(205, 44, 44);
}

.doneRight {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 30px;
  font-size: 30px;
  background-color: var(--orange);
  font-weight: 700;
}

.sectionBye {
  background-color: white;
  border-radius: var(--radius);
  margin: auto;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.finalGoodBye {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionBye > h1 {
  text-transform: uppercase;
  font-size: 30px;
}

.sectionBye > p {
  opacity: 0.5;
  font-size: 14px;
}

.summerizeo {
  display: flex;
  gap: 0 10px;
  border-radius: var(--radius);
  max-height: 30vh;
  border-radius: 20px;
}

.summerizeo .disPro {
  background-color: rgb(241, 241, 241);
  border-radius: var(--radius) 0 0 var(--radius);
  padding: 10px;
}

.grandTotal {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 var(--radius) var(--radius) 0;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
}

.grandTotal span {
  text-transform: uppercase;
  opacity: 0.5;
}

.MaxWrapper {
  max-width: var(--maxWidth) !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.LEGO {
  font-family: 'Alfa Slab One', serif;
  color: white;
  /* font-weight: 800; */
  font-size: 35px;
  letter-spacing: 5px;
}

.headMain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-bottom: 7rem;
}

.productPage .ProductCat {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.headMain .ProductCat {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.ProductCat article {
  /* text-align: left; */
  text-align: center;
  align-items: center;
}

.ProductCat article {
  gap: 15px 0;
}

.details h1 {
  /* font-size: 40px; */
  font-size: 25px;
}

/* section.ProductCat > img {
  width: 250px;
} */
section.ProductCat:nth-child(1) > article:nth-child(2) > h3:nth-child(4) {
  font-size: 18px;
}
.headMain .paraDetail {
  max-width: 75%;
}

.notYou {
  display: none;
  visibility: hidden;
}
.yes {
  display: block !important;
  visibility: visible !important;
  max-width: 600px;
}
article.gallary {
  /* width: 50%; */
  flex-direction: row-reverse;
}
.other {
  display: flex;
  flex-direction: column;
  gap: 0 10px;
}
.other > img {
  cursor: pointer;
  width: 100px;
}
.details > h3:nth-child(3) {
  text-align: left;
  align-self: flex-start;
}
.details > ul:nth-child(4) {
  align-self: flex-start;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
.mayAlos .ProductCat {
  display: flex;
  flex-direction: column;
  grid-row: 2;
}

.aboutUs > p:nth-child(1) {
  letter-spacing: 0.5px;
  line-height: 2;
  font-size: 17px;
  color: var(--grey);
}
.aboutUs {
  margin-bottom: 7rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 0.6fr 1fr;
}
.aboutUs > section:nth-child(2) > div:nth-child(2) > a {
  color: black;
  font-weight: 600;
}
.aboutUs > section:nth-child(2) > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  gap: 0 20px;
}
.aboutUs > section:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.aboutUs > section:nth-child(2) > ul:nth-child(4) > li {
  font-weight: 600;
}
.dresso {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
  align-items: flex-start;
  gap: 10px 0;
}
.dresso * {
  color: white;
}
.bringing {
  padding-left: 2rem;
  padding-right: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0;
}
.bringing picture {
  grid-row: 1;
}
.bringing picture {
  grid-column: 1/-1;
  grid-column: 1/2;
  place-self: unset;
}
.bringing > article {
  grid-column: 2/3;
  grid-row: 1;
}
.stein {
  border-radius: 0;
}

.productPage .ProductCat {
  gap: 0 50px;
}

article.gallary {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

.yes {
  max-width: 100%;
}

.productPage {
  gap: 70px 0;
}

main {
  margin-top: 7rem;
}

.viewed {
  grid-column: 2/3;
}

.other {
  grid-row: 1/2;
}

.productPage > section:nth-child(2) > article:nth-child(2) {
  align-self: flex-start;
}
article.gallary {
  grid-template-rows: 1fr;
}
.Legs {
  cursor: pointer;
  color: white;
  text-transform: capitalize;
}
/* responsivness */

/* 1440- */
@media screen and (min-width: 1440px) {
  :root {
    --maxWidth: 1200px;
  }
}

/* 1250-1440 */
@media screen and (max-width: 1439px) {
  .aboutUs {
    grid-template-columns: 1fr 1fr;
  }

  .aboutUs > section:nth-child(2) > div:nth-child(2) > a {
    font-weight: 400;
  }

  .aboutUs > section:nth-child(2) > ul:nth-child(4) > li {
    font-weight: 400;
  }

  .aboutUs > section:nth-child(2) > div:nth-child(2) {
    flex-direction: column;
    gap: 35px 0;
  }

  .aboutUs > section:nth-child(2) > h4:nth-child(1) {
    font-size: 18px;
  }

  .aboutUs > section:nth-child(2) > h4:nth-child(3) {
    font-size: 18px;
  }
}
/* 1024-1250 */
@media screen and (max-width: 1250px) {
  :root {
    --maxWidth: 90%;
  }

  .homeHeader {
    height: 100vh;
  }

  .headHeader {
    height: 50vh;
  }

  .stein {
    max-height: 100vh;
  }

  .z7x {
    height: 50vh;
  }

  footer {
    height: auto;
    padding: 4rem 0rem;
  }

  .footerWrapper {
    grid-template-rows: repeat(4, auto);
    padding: 0;
  }

  .links {
    grid-row: 3/4;
  }

  .copyRight {
    grid-row: 4/5;
  }

  .audioSpecialist {
    grid-column: 1/3;
    max-width: 55%;
  }
  .checkoutMain {
    gap: 20px 30px;
  }
  .heleft > h1:nth-child(2) {
    font-size: 3rem;
  }
  .heleft > p:nth-child(3) {
    font-size: 16px;
  }
  .seePro {
    padding: 0.8rem 1.5rem;
  }
  .homeHeader {
    background-position-x: 75%;
  }
  .stein > article:nth-child(2) {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
  }
  .stein {
    max-height: 80vh;
  }
  .stein > article:nth-child(2) > p:nth-child(2) {
    font-size: 16px;
  }
  section.z7x:nth-child(2) {
    max-width: unset !important;
  }
  .bringing {
    height: 50vh;
  }
  .MaxWrapper {
    max-width: 100% !important;
  }
  section.z7x:nth-child(2) > p:nth-child(2) {
    max-width: 50%;
  }
  .headMain {
    padding-left: 0rem;
    padding-right: 0;
  }
  .aboutUs {
    grid-template-columns: 1.5fr 1fr;
  }

  .productPage {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .productPage .ProductCat {
    gap: 0 30px;
  }

  .details h1 {
    font-size: 23px;
  }

  .spanPrice {
    font-size: 23px;
  }
  .mayAlos > section > img:nth-child(1) {
    width: 200px;
  }
}

/* 768px-1023 */
@media screen and (max-width: 1023px) {
  .navWrapper {
    padding: 2rem 2rem 2.2rem 2rem;
    width: 100%;
  }
  .homeHeader {
    height: 100vh;
  }
  :root {
    --maxWidth: 100%;
    --paddingSide: 2rem;
  }

  footer {
    padding: 4rem var(--paddingSide);
  }

  .audioSpecialist {
    max-width: 80%;
  }
  .footerWrapper {
    gap: 20px;
  }
  main {
    padding-left: var(--paddingSide);
    padding-right: var(--paddingSide);
  }

  .checkoutMain {
    grid-template-columns: auto 1fr;
    gap: 30px;
  }

  .fillForm {
    padding: 1.5rem;
  }

  .checkoutWrapper .carto {
    padding: 1.5rem;
    justify-self: flex-end;
  }

  .disPro > li > span {
    font-size: 14px;
    font-weight: 600;
    justify-self: center;
  }

  .SpanMessage {
    bottom: 2px;
    right: 5px;
    top: unset;
  }

  .bringing picture {
    height: 100%;
    grid-row: 1/-1;
  }

  .bringing picture img {
    height: 100%;
  }

  main {
    padding-bottom: 5rem;
  }

  .footerWrapper p {
    font-size: 15px;
  }

  .homeHeader .wrapper {
    padding-left: var(--paddingSide);
    padding-right: var(--paddingSide);
  }
  .homeHeader {
    background-size: contain;
    background-position-y: 37%;
    background-size: 120%;
    background-position-x: 38%;
    height: 90vh;
  }
  .heleft {
    max-width: 50%;
  }
  .stein {
    padding: 2rem 5rem 2rem 5rem;
  }
  .stein > article:nth-child(2) {
    justify-content: space-around;
  }
  .z7x {
    background-position: center;
    height: 35vh;
  }
  .bringing {
    grid-auto-columns: 1fr 1fr;
    gap: 0 15px;
  }
  .bringing > article h1 {
    font-size: 35px;
  }
  .bringing > article p {
    font-size: 14px;
  }

  .footerWrapper .cats {
    gap: 20px;
  }
  .navScrolled {
    padding: 1.5rem var(--paddingSide);
  }
  .headHeader {
    height: 350px;
  }
  .fillForm {
    padding: 2rem;
  }
  .checkoutWrapper .carto {
    padding: 2rem 1.5rem;
  }
  .checkoutMain {
    gap: 15px 10px;
  }
  .checkoutMain .carto {
    grid-template-rows: auto auto auto auto;
  }
  .homeHeader {
    height: 90vh;
    background-size: cover;
    background-position-x: 61%;
  }
  .heleft {
    max-width: 60%;
    padding-top: 1.5rem;
  }
  main {
    padding-left: 0rem;
    padding-right: 0;
  }
  .bringing {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    gap: 0;
    padding-bottom: 0;
  }
  .bringing picture {
    height: auto;
  }
  section.ProductCat > img:nth-child(1) {
    height: 80px;
  }
  .details h1 {
    font-size: 20px;
  }
  .details .seePro {
    padding: 0.8rem 0.8rem;
  }
  .desc {
    letter-spacing: 5px;
  }
  .aboutUs {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .productPage {
    gap: 30px 0;
  }

  .details h1 {
    font-size: 17px;
  }

  .spanPrice {
    font-size: 17px;
  }
  .productPage {
    padding-left: 10px;
    padding-right: 10px;
  }

  .productPage
    > section:nth-child(2)
    > article:nth-child(2)
    > ul:nth-child(4)
    > li {
    font-size: 15px;
  }

  .productPage {
    /* gap: 70px 0; */
    gap: 30px 0;
  }

  .details h1 {
    font-size: 17px;
  }

  .spanPrice {
    /* font-size: 23px; */
    font-size: 17px;
  }
  .productPage {
    padding-left: 10px;
    padding-right: 10px;
  }

  .productPage
    > section:nth-child(2)
    > article:nth-child(2)
    > ul:nth-child(4)
    > li:nth-child(1) {
    font-size: 15px;
  }
  .mayAlos > h2:nth-child(1) {
    font-size: 23px;
  }
  .productPage > section:nth-child(2) {
    margin-bottom: 2rem;
  }
}

/* 521px-768 */
@media screen and (max-width: 768px) {
  .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    position: relative;
  }
  .menu-button__burger {
    width: 30px;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.3s ease-in-out;
  }
  .menu-button__burger::before,
  .menu-button__burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.3s ease-in-out;
  }
  .menu-button__burger::before {
    transform: translateY(-8px);
  }
  .menu-button__burger::after {
    transform: translateY(8px);
  }
  .menu-button.buttonOpen .menu-button__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-button.buttonOpen .menu-button__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-button.buttonOpen .menu-button__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  .navWrapper .cats {
    display: none;
    height: 0;
    width: 0;
    overflow: hidden;
  }
  .navWrapper {
    padding: 1.5rem var(--paddingSide);
  }
  .navScrolled {
    padding: 0.7rem var(--paddingSide);
  }
  .heleft {
    align-items: center;
  }
  .wrapper {
    justify-content: center;
  }

  .homeHeader {
    background-image: url('/src/assets/icg/projector-all-kv-m.webp');
    background-position: center;
    background-size: contain;
  }

  .homeHeader .wrapper {
    justify-content: center;
  }
  .heleft {
    /* gap: 40px 0; */
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 50px auto auto;
    gap: 0;
    grid-template-rows: 50px auto 0px 1fr 1fr;
  }
  .seePro {
    grid-row: -1;
    justify-self: center;
  }
  .heleft > p:nth-child(3) {
    grid-row: 5;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
  }
  .heleft > p:nth-child(3) {
    max-width: 450px;
  }
  .phonoProno {
    position: absolute;
    background-color: white;
    bottom: -467px;
    margin: auto;
    width: 100%;
    padding: 10rem 2rem;
    box-shadow: 1px 200px 122px 53px rgba(0, 0, 0, 0.49);
  }

  /* .phonoProno .mightKnow {
    gap: 0 10px;
    height: auto;
  }

  .phonoProno .mightKnow > a > picture:nth-child(1) {
    width: 110px;
    bottom: 77px;
  }
  .phonoProno .mightKnow > a {
    height: 147px;
  } */

  .mightKnow {
    gap: 0 10px;
    height: auto;
  }
  .mightKnow > a > picture:nth-child(1) {
    width: 110px;
    bottom: 77px;
  }
  .mightKnow > a {
    height: 147px;
  }
  .stein {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 50px 0;
    padding: 2rem 4rem;
    background-position: center;
    padding: 2rem;
    justify-content: space-around;
    gap: 0;
    padding: 2rem 0;
  }
  .stein > article:nth-child(2) {
    align-items: center;
  }
  :root {
    --paddingSide: 2rem;
  }
  .stein > article:nth-child(2) > h1:nth-child(1) {
    font-size: 3.5rem;
  }
  .z7x .sawPro {
    font-weight: 600;
    font-size: 14px;
  }
  .z7x > h2:nth-child(1) {
    letter-spacing: 2px;
  }
  .yx1 {
    grid-template-columns: 0.75fr 1fr;
    /* height: fit-content; */
  }
  .yx1 .z7x {
    padding: 2rem;
  }
  .copyRight {
    grid-column: 1/5;
  }
  .stein > picture:nth-child(1) {
    width: 180px;
  }
  .yx1 {
    height: 280px;
  }
  .yx1 > picture:nth-child(1) {
    height: 100%;
  }
  .yx1 > picture:nth-child(1) > img:nth-child(4) {
    height: 100%;
  }
  .bringing > picture:nth-child(2) {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  .bringing > article:nth-child(1) {
    text-align: center;
  }
  .bringing {
    gap: 35px 0;
  }
  main {
    gap: 100px 0;
  }
  .bringing > article:nth-child(1) > h1:nth-child(1) {
    font-size: 38px;
  }
  .audioSpecialist {
    max-width: 100%;
  }
  .footerWrapper {
    gap: 35px 0;
  }
  ul.cats:nth-child(5) {
    gap: 0 10px;
  }
  section.z7x:nth-child(3) {
    background-image: url('/src/assets/home/tablet/image-speaker-zx7.jpg');
  }

  .ProductCat {
    gap: 0 50px;
  }

  .mayAlos > h2:nth-child(1) {
    grid-column: 1/4;
    text-align: center;
  }

  .toCart {
    padding: 0.5rem 1rem;
    text-transform: capitalize;
  }

  .details > div:nth-child(5) {
    /* gap: 0 20px; */
    gap: 0 10px;
  }

  .addMore {
    width: fit-content;
    gap: 0 25px;
  }

  .addMore > button {
    padding: 0.75rem;
  }
  .details > div:nth-child(5) {
    width: 100%;
    justify-content: space-between;
  }

  .ProductCat {
    gap: 0 10px;
  }

  section.ProductCat {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px 0;
  }

  section.ProductCat > article {
    align-items: center;
    text-align: center;
  }

  section.ProductCat > article > h1:nth-child(2) {
    font-size: 35px;
  }

  .productPage {
    gap: 100px 0;
  }

  .moreInfo {
    display: flex;
    flex-direction: column;
    gap: 50px 0;
  }

  /* .gallary {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    align-items: center;
    max-width: 70%;
    margin: auto;
  }
  .gallary > picture {
    width: 100%;
  }
  .gallary > picture img {
    width: 100%;
    width: 75%;
  } */
  .mayAlos {
    gap: 20px 10px;
  }
  .mayAlos > article {
    justify-content: space-between;
  }
  .mayAlos > article > a:nth-child(3) {
    padding: 12px 14px;
  }
  .mayAlos > article > picture:nth-child(1) > img:nth-child(4) {
    height: 100%;
  }
  .mayAlos > article > picture:nth-child(1) {
    height: 100%;
  }

  .mayAlos > article > h3:nth-child(2) {
    font-size: 20px;
  }

  /* .mayAlos {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px 0;
  }

  .mayAlos > h2:nth-child(1) {
    font-size: 32px;
  } */

  /*HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH*/

  /*HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH*/

  .checkoutMain {
    grid-template-columns: 1fr;
    /* grid-template-rows: auto 1fr 1fr; */
  }

  .fillForm {
    grid-row: 2;
    grid-column: 1/-1;
  }

  .checkoutMain .carto {
    grid-row: 3;
    grid-column: 1/-1;
    width: 100%;
  }

  .disPro > li:nth-child(1) > span:nth-child(2) {
    justify-self: flex-start;
  }

  .disPro > li:nth-child(1) > span:nth-child(3) {
    justify-self: flex-start;
  }
  .stein > article:nth-child(2) > h1:nth-child(1) {
    font-size: 3.5rem;
    font-size: 3.2rem;
  }
  .stein > picture:nth-child(1) {
    width: auto;
    height: 45%;
  }
  .z7x {
    height: 55vh;
    padding: 1rem;
  }
  .z7x > h2:nth-child(1) {
    font-size: 46px;
    font-size: 40px;
  }
  .yx1 {
    height: 70vh;
  }

  main {
    margin-top: 4rem;
  }

  .headMain {
    grid-template-columns: 1fr 1fr;
  }

  section.ProductCat > article > h1:nth-child(2) {
    font-size: 25px;
  }

  .aboutUs {
    padding-right: 1rem;
    gap: 0 35px;
  }

  .aboutUs > p:nth-child(1) {
    letter-spacing: 0.35px;
    font-size: 16px;
  }

  .aboutUs {
    display: flex;
    gap: 50px 0;
    flex-direction: column;
  }

  .aboutUs > section:nth-child(2) {
    flex-direction: row;
    gap: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .aboutUs > section:nth-child(2) > h4:nth-child(1) {
    font-size: 16px;
  }
  .aboutUs > section:nth-child(2) > h4:nth-child(3) {
    font-size: 16px;
  }
  .aboutUs > section:nth-child(2) > div:nth-child(2) {
    gap: 25px 0;
  }

  main {
    /* margin-top: 4rem; */
    margin-top: 7rem;
  }
  .productPage {
    gap: 20px;
  }
  section.ProductCat > article > h1:nth-child(2) {
    /* font-size: 25px; */
    font-size: 18px;
  }

  .details h1 {
    /* font-size: 17px; */
    font-size: 16px;
    text-align: left;
  }
  .spanPrice {
    /* font-size: 17px; */
    text-align: center;
    align-self: center;
  }
  section.ProductCat > img:nth-child(1) {
    /* height: 80px; */
    height: 60px;
  }

  .details > ul:nth-child(4) {
    /* align-self: flex-start; */
    align-self: center;
  }

  .other {
    /* gap: 0 10px; */
    gap: 20px 0;
  }

  .mayAlos > section > img:nth-child(1) {
    /* width: 200px; */
    width: 150px;
  }

  .paraDetail {
    /* font-size: 15px; */
    font-size: 14px;
  }
}

@media screen and (max-width: 520px) {
  .homeHeader {
    background-image: url('/src/assets/home/mobile/image-header.jpg');
  }
  .homeHeader {
    background-image: url('/src/assets/icg/projector-all-kv-m.webp');
    background-position: center;
    background-size: contain;
  }
  .heleft > h1:nth-child(2) {
    font-size: 2.5rem;
  }

  .mightKnow > a > picture:nth-child(1) {
    width: 167px;
    bottom: 36px;
  }
  .stein > picture:nth-child(1) {
    width: 160px;
  }
  .stein {
    padding: 5rem 4rem;
  }
  :root {
    --paddingSide: 18px;
  }

  .mightKnow > a > h5:nth-child(2) {
    font-size: 17px;
  }

  .sawPro {
    padding: 10px 18px;
    font-size: 14px;
  }

  .footerHero {
    grid-column: 1/-1;
  }

  .Lino {
    margin: auto;
    left: 0;
    right: 0;
  }

  .heleft > p:nth-child(3) {
    max-width: 80%;
    line-height: 1.75;
  }

  .mightKnow {
    flex-direction: column;
    gap: 60px 0;
  }

  .stein {
    background-image: url('/src/assets/home/mobile/pattern-circles.svg');
  }

  .stein > article:nth-child(2) > h1:nth-child(1) {
    font-size: 2.2rem;
  }

  section.z7x:nth-child(3) {
    background-image: url('/src/assets/home/mobile/image-speaker-zx7.jpg');
    padding: 2rem;
  }

  .yx1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    gap: 30px 0;
  }

  .bringing > article:nth-child(1) > h1:nth-child(1) {
    font-size: 35px;
  }

  .bringing > article:nth-child(1) > p:nth-child(2) {
    font-size: 14px;
  }

  .footerWrapper {
    grid-template-columns: 1fr;
    gap: 50px 0;
  }

  ul.cats:nth-child(5) {
    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px 0;
    place-self: center;
  }

  .links {
    grid-row: -1;
    grid-column: 1/-1;
    margin: auto;
  }

  .audioSpecialist {
    text-align: center;
  }

  .footerHero {
    margin: auto;
  }

  .copyRight {
    text-align: center;
  }
  .phonoProno {
    bottom: -756px;
    padding: 6.2rem 2rem;
  }

  .headHeader {
    height: 200px;
    padding: 0;
    padding-bottom: 1.5rem;
  }

  .headHeader h1 {
    font-size: 30px;
    letter-spacing: 1px;
  }

  section.ProductCat {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px 0;
  }

  section.ProductCat > article {
    align-items: center;
    text-align: center;
  }

  section.ProductCat > article > h1:nth-child(2) {
    font-size: 35px;
  }

  .productPage {
    gap: 100px 0;
  }

  .moreInfo {
    display: flex;
    flex-direction: column;
    gap: 50px 0;
  }

  .gallary {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
  }

  .gallary > picture:nth-child(1) > img:nth-child(4) {
    height: auto;
  }

  .mayAlos {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px 0;
  }

  .mayAlos > h2:nth-child(1) {
    font-size: 32px;
  }
  .carto {
    left: 0;
    right: 0;
    margin: auto;
  }

  .sectionBye {
    padding: 2em;
    height: 100vh;
    justify-content: center;
    width: 100%;
  }

  .summerizeo {
    justify-content: space-between;
  }

  .summerizeo .disPro {
    border-radius: var(--radius) var(--radius) 0 0;
  }

  .grandTotal {
    border-radius: 0 0 var(--radius) var(--radius);
  }

  .summerizeo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
  }

  .summerizeo > ul:nth-child(1) {
    grid-column: 1/-1;
    grid-row: 1;
  }

  .grandTotal {
    grid-column: 1/-1;
    grid-row: 2;
  }

  .sectionBye > h1:nth-child(2) {
    font-size: 20px;
  }
  .fillForm form > div {
    display: flex;
    flex-direction: column;
  }
  .carto {
    width: fit-content;
  }
  .heleft {
    height: 80%;
    grid-template-rows: 50px auto 0px 1fr 1fr;
    height: 75%;
    grid-template-rows: 50px auto 90px 1fr 1fr;
    gap: 10px 0;
  }
  .bringing {
    gap: 0;
    justify-content: center;
    padding: 0;
  }
  .z7x > h2:nth-child(1) {
    text-align: center;
  }
  .z7x {
    height: 55vh;
    height: 70vh;
  }
  .stein {
    padding: 2rem 0;
  }
  .z7x {
    background-size: cover;
    background-position: center;
  }
  .stein > picture:nth-child(1) {
    width: auto;
    height: auto;
    display: none;
  }
  .headMain {
    grid-template-columns: 1fr;
  }

  .productPage {
    gap: 40px 0;
  }
  .mayAlos > h2:nth-child(1) {
    font-size: 19px;
  }
  section.ProductCat > article > h1:nth-child(2) {
    font-size: 18px;
  }

  .details h1 {
    font-size: 15px;
  }

  .productPage
    > section:nth-child(2)
    > article:nth-child(2)
    > ul:nth-child(4)
    > li {
    font-size: 14px;
  }
  .productPage {
    padding-left: 5px;
    padding-right: 0;
  }

  .productPage .ProductCat {
    gap: 5px;
  }

  .productPage > section:nth-child(2) > article:nth-child(2) > h3:nth-child(3) {
    font-size: 16px;
  }
}
